$primary : #1d1c1b;
$secondary : #2A2B27;
$light : #696B61;
$dark : #0B0B0A;
$warning : #C6C6BE;
$info: #120996;
$pink: #e323be;
$purple : #6703a6;
$blue : #13cbeb;


@import "../node_modules/bootstrap/scss/bootstrap";