:root {
  --main: #181610;
  --s_text: #838372;
  --text: #2A2B27;
  --info : #329325;
  --pink : #e323be;
  --purple : #6703a6;
  --blue : #13cbeb;
  --darkb : #1f5ad4;
}



.intro {
  background-image: url('/Assets/Images/wallpaper\ 404.webp');
  background-size: contain;
  background-position: center;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: transparent;
    height: 100vh;
}

#intro {
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


#typed {
  font-size: 100px;
  color: var(--pink);
  font-weight: lighter;
  font-family: 'Press Start 2P', cursive;
}


.typed-cursor {
    color: var(--pink);
    font-size: 200px;
}

@media (max-width: 768px) {
    #typed {
        font-size: 5rem;
    }

    .typed-cursor {
        font-size: 5rem;
    }
}